/*
 * This stylesheet is intended to be used within a DocBook-XML source file
 * to aid in previewing.
 *
 * To use it, add an <?xml-stylesheet?> declaration, e.g.:
 *
 * <?xml-stylesheet href="dbtools/docbook.css" type="text/css"?>
 */

@namespace "http://docbook.org/ns/docbook";

/* Global */
* {
	word-wrap: break-word;
}

/* Headings */
title {
	font-family: 'Gill Sans';
}
chapter>title {
	font-size: 36pt;
	margin-left: -4pt;
}
chapter>section>title {
	font-size: 24pt;
}
chapter>section>section>title {
	font-size: 18pt;
}

/* Inline styles */
emphasis {
	font-style: italic;
}
[role="brand"] {
	font-family: 'Palatino';
	font-style: italic;
}
citation:before { content: '[' }
citation:after { content: ']' }
citation:before, citation:after {
	font-size: 85%;
}
citation {
	font-size: 70%;
}
citation[role="inline"] {
	font-size: 85%;
	vertical-align: bottom;
}
citation[role="inline"]:before, citation[role="inline"]:after {
	font-size: 90%;
	vertical-align: bottom;
}
phrase[role="rfc2119"] {
	font-family: 'Gill Sans';
	text-transform: uppercase;
	font-size: 85%;
}
mathphrase {
	color: #333;
	font-style: italic;
}
superscript {
	font-size: 10pt;
	vertical-align: top;
}
subscript {
	font-size: 10pt;
	vertical-align: bottom;
}
type, varname, classname, parameter, constant, computeroutput {
	font-family: Consolas, Menlo, monsopace;
	font-size: 95%;
}
/* Lists */
itemizedlist
{
	display: block;
}
listitem
{
	display: list-item;
	margin-left: 2em;
}
itemizedlist>listitem {
	list-style: disc outside;
}

/* Paragraphs */
para {
	margin: 0.75em 0;
	line-height: 1.4em;
}
literallayout {
	display: inline-block;
	white-space: pre;
	margin: 0.75em auto;
	padding: 8px;
	background: #dedede;
	border: solid #ccc 1px;
	color: #444;
	width: auto;
}
/* Callouts */
note {
	font-family: 'Gill Sans';
	color: rgb(71,20,0);
}

/* Structure */
book, chapter, sect, sect1, sect2, sect3, sect4, sect5, sect6, sect7, para, simplepara, note, title
{
	display: block;
}

book, chapter, section {
	margin: auto;
	max-width: 960px;
	font-family: 'Palatino';
	font-size: 16pt;
}
chapter>*, section>* {
	margin-left: 1cm;
	margin-right: 1cm;
}
title {
	margin: 0.75em 0;
}

/* Tables */
table {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin: 0.75em 1cm;
}
tr {
	display: table-row;
	border: solid #000 1px;
}
td, th {
	display: table-cell;
	padding: 4px;
	border: solid #000 1px;
	word-wrap: break-word;
}
td[role="level-2"] {
	text-indent: 1.5em;
}
td[role="level-3"] {
	text-indent: 2.5em;
}
thead {
	display: table-header-group;
	background: #dedede;
}
th {
	font-family: 'Gill Sans';
	text-align: center;
}
tbody {
	display: table-row-group;
}

